@import "./fonts";

html {
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #131313;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}