@import "./fonts";
@import "./mixins";

html {
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #131313;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 64px;
}